@import "tailwindcss";

@theme {
  --color-dark_bg: #25252A;
  --color-wu_blue1: #001529;
  --color-wu_blue2: #003566;
  --color-wu_blue3: #0E6BA8;
  --color-wu_blue4: #47A6FF;
  --color-wu_blue5: #A6E1FA
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply dark:bg-gray-700 dark:text-amber-50 text-gray-900
}
